*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body{
    font-family: 'Poppins', sans-serif;    
}
.animationSvg{
    position: fixed;
    height: 100%;
    left: -60px;
    bottom: 0;
    z-index: -1;
}

.shoppingImgSvg{
    width: 35rem;
}
.profilePicSvg{
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.container{
    margin: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginContainer{
    height: 27rem;
    width: 25rem;
    border-radius: 15px;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    color: tomato;
}

p{
    text-align: center;
    color: rgb(226, 147, 147);
    font-size: 0.8rem;
    margin-top: -5px;
}

.loginContainer:hover{
    background: rgba(255, 255, 255, 0.116);
    box-shadow:  10px 10px 50px #d3e4e9,
    -10px -10px 50px rgba(240, 240, 240, 0.185);
    transition: ease-in 0.5s;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 2rem;
    border: none ;
    border-bottom: 1.5px solid black;
    background-color: transparent;
    margin-top: 20px;
}

input:hover{
    border-bottom: 2px solid black;
}
input[type="email"]::placeholder { 
    font-size: 15px;
    text-align: center;
}
input[type="password"]::placeholder { 
    font-size: 15px;
    text-align: center;
}

input[type="email"],input[type="password"] { 
    text-align: center; 
    color: black;
    font-size: 20px;
}

.userInput{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
#loginSuccessfull{
    color: rgb(90, 221, 90);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    visibility: hidden;
}
#loginFailed{
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
    visibility: hidden;
}
a{
    text-align:right;
    font-size: 12px;
    text-decoration: none;
    color: rgb(163, 14, 88);
}

.btn {
    margin-top: 2px;
    font-size:15px;
    font-family:Arial;
    width:80px;
    height:30px;
    color:#fff;
    border-color:rgba(86, 161, 236, 0.7);
    border-style: none;
    border-radius: 12px;
    box-shadow: 5px 5px 12px #666666;
    background:linear-gradient(rgb(105, 166, 228), rgb(64, 89, 114));
}
  

.btn:hover {
    font-weight:550;
    border: none;
    cursor: pointer;
    background: linear-gradient(rgb(64, 89, 114), rgb(105, 166, 228));
    box-shadow: 7px 7px 12px #8cabb9;
}

.buttonSection{
    width: 20rem;
    display: flex;
}