*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(211,211,211,0.4);
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brandLogo{
    height: 60px;
}

.navItems{
    display: flex;
    align-items: center;
}



.navItems a{
    margin-left: 25px;
    text-transform:capitalize;
    color: black;
    text-decoration: none;
    font-weight: bold;


}
.navItems a:hover{
    
    opacity: 0.5;
    
    
}

.navItems a img{
    width: 30px;
}

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.bestSelling{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
    
    
}
.product h2{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    
}


.productContainer{
    padding: 0 8vw;
    display: flex;
    overflow-x:hidden;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    height:auto;
    margin-bottom: 35px;
    
    
    
}

.productContainer::-webkit-scrollbar{
    display: none;
}

.productCard{
    flex: 0 0 auto;
    width: 250px;
    height: 430px;
    margin-right: 40px;
    border-radius: 20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
    
}

.productImage{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
    border-radius: 10px;
    
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}

.productThumb{
    width: 100%;
    height: 350px;
    object-fit:contain;
    /* border-radius: 150px; */
    
    
}



.cartBtn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.productCard:hover .cartBtn{
    opacity: 1;
}

.cartBtn:hover{
    background: #efefef;
}

.productInfo{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.productCategory{
    text-transform:capitalize;
    font-size: 15px;  
    opacity: 0.9;   
}

.productTitle{
    text-transform:none;
    font-size:15px;  
    opacity: 0.8;  
    width: 100%;
    height: 50px;
    text-align:center;
    overflow: hidden;
    font-weight: bold;
}


.price{
    font-weight: 550;
    font-size: 20px;
}
.checked {
    color: orange;
  }



